﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>Kreis Berechnung</h4>
        <form action="/Home/KreisBerechnen" method="post">
            <table border="1">
                <tr>
                    <th colspan="2">
                        Kreis:
                    </th>
                </tr>
                <tr>
                    <td>
                        Wert:
                    </td>
                    <td>
                        <input type="text" name="wert" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Radius
                    </td>
                    <td>
                        Durchmesser
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="radius" value="true" />
                    </td>
                    <td>
                        <input type="radio" name="radius" value="false" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
        <br />
        @Html.ActionLink("Rechteckberechnung", "RechteckFormular")
        <br />
        <br />

        @if (ViewBag.KreisU != null)
        {
                    <hr />
            <br />
                    <table border="1">
                        <tr>
                            <th colspan="2">
                                Kreisberechnung
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Radius: @ViewBag.Radius
                            </th>
                            <th>
                                Durchmesser: @ViewBag.Durchmesser
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Umfang:
                            </td>
                            <td>
                                Fläche:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @ViewBag.KreisU
                            </td>
                            <td>
                                @ViewBag.KreisF
                            </td>
                        </tr>
                    </table>
        }

    </div>
</body>

</html>
