﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RechteckFormular</title>
</head>
<body>
    <div> 
        <h4>Rechteck Berechnung</h4>
        <form action="/Home/RechteckBerechnen" method="post">
            <table border="1">
                <tr>
                    <th colspan="2">
                        Rechteck:
                    </th>
                </tr>
                <tr>
                    <td>
                        Höhe:
                    </td>
                    <td>
                        <input type="text" name="höhe" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Breite:
                    </td>
                    <td>
                        <input type="text" name="breite" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
        <br />
        @Html.ActionLink("Kreisberechnung", "Index")
        <br />
        <br />
        @if (ViewBag.RechteckU != null)
        {
            <br />
            <hr />
            <table border="1">
                <tr>
                    <th colspan="2">
                        Rechteckberechnung
                    </th>
                </tr>
                <tr>
                    <th>
                        Höhe: @ViewBag.Höhe
                    </th>
                    <th>
                        Breite: @ViewBag.Breite
                    </th>
                </tr>
                <tr>
                    <td>
                        Umfang:
                    </td>
                    <td>
                        Fläche:
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.RechteckU
                    </td>
                    <td>
                        @ViewBag.RechteckF
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
